/*
  Title: Stylesheet for Main Template

 */
@charset "utf-8";






/* -------------------- [Layout] -------------------- */
#iFarm\.TEMPLATE_PAGE_WRAPPER {
}

#iFarm\.TEMPLATE_PAGE_HEADER {
}

#iFarm\.TEMPLATE_PAGE_BODY {
    position: relative;
}

#iFarm\.TEMPLATE_PAGE_BODY:after {
    clear: both;
    content: "";
    display: block;
}

#iFarm\.TEMPLATE_BODY_CONTENT {
    min-height: 500px;
}

#iFarm\.TEMPLATE_PAGE_FOOTER {
}
/* -------------------- [Layout] -------------------- */


/* -------------------- [Contents] -------------------- */
/* -------------------- [Contents] -------------------- */
